$fonts-headline: "Allan, serif";
$fonts-body: "Oswald, verdana, arial, sans-serif";
$background-color: #038CA9;
$primary: #449DD1;
$headingColor: #5CCCE4;
$paragraphColor: #333;
$container: #D6DCD9;
$side-bar: #5CCCE4;
$accent1: #D6DCD9;
$accent2: #5CCCE4;
$grey-sidebar: #038CA9;
$text-dark: #333;
$text-light: #fff;
